.banner-bg {
  height: 500px;
  width: 100%;
  margin-top: 60;

  background: url("../img/banner-site.png") no-repeat center;
  background-size: cover;

  display: block;
  align-content: center;
}
.banner-container {
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner-conteudo {
  display: inline-grid;
  max-width: 500px;
  color: #f4f6fa;
}

.banner-conteudo h1 {
  padding-bottom: 16px;
}
.banner-conteudo p {
  font-size: 1.15rem;
  line-height: 1.6;
  padding-bottom: 20px;
}
.button-link-banner {
  place-self: start;
  text-transform: uppercase;
  font-size: 1rem;
  background: transparent;
}

.button-link-banner:hover {
  background: #e2faff15;
  border: 3px solid #f4f6fa;
}

.button-link-banner {
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  color: #f4f6fa;
  text-decoration: none;
  border-radius: 30px;
  border: 3px solid #f4f6fa85;
}
