/* Estilos que centraliza o conteúdo */
.colaborador {
  max-width: 1200px;
  padding: 44px 50px;
  padding-bottom: 60px;
  margin: 0 auto;
}

/* Estilos para a linha com degradê */
.colaborador-linha {
  width: 100%; /* Largura da linha */
  height: 3px; /* Altura da linha */
  margin: 0 auto;
  background-image: linear-gradient(to right, #2260ffff, #2260ff00, #2260ffff);
}

/* Estilos que envolve as imagens */
.colaborador-container {
  display: flex;
  justify-content: space-around; /* Espaço entre as imagens e margins*/
  align-items: center;
  padding: 20px 0px;
}

/* Estilos para as imagens */
.colaborador-image {
  padding: 20px 16px;
}

@media (max-width: 400px) {
  .colaborador {
    padding: 24px 24px;
  }
  .colaborador-container {
    justify-content: flex-center;
    flex-direction: column;
  }
  .colaborador-image {
    width:60%;
  }
}
@media (max-width: 600px) {
  .colaborador {
    padding-right: 24px;
    padding-left: 24px;
  }
}