body {
  margin: 0px;
  font-family: "Nunito", sans-serif, Arial;

  background: #F4F6FA;
  color: #1f232b;
}
/*Nunito = Playfair Display SC
A nunito não ta carregando
*/
h1,
h2,
h3,
h4,
h5,
h6,
p 
,
a{
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
