body {
  margin: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: inline-block;
  background: #f0f0f0;
  padding: 10px;
}

.navbar-options {
  display: inline-block;
  background: #aaa;
}

.banner {
  background: #f0f0f0;
}

.info-site {
  background: #f0f0f0;
}

.info-ppgte-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.info-ppgte-box {
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  padding: 20px;
  border-radius: 4px;
}
